* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

header,
footer,
nav,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

p {
  width: auto;
  overflow-wrap: break-word;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  margin-right: 70px;
}

.header__logo:hover {
  -webkit-filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  padding: 43px 20px;
  text-transform: uppercase;
}

.menu__link:hover {
  background-color: #131313;
  color: #fff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* --- Bike --- */
.bike {
  border: 0;
  padding: 100px 0 150px;
  /* -- Slider -- */
}
.bike__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bike__left_title {
  margin: 74px 0 5px 0;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}
.bike__left_subtitle {
  margin-bottom: 60px;
  font-size: 32px;
  line-height: 39px;
  color: #6f6f6f;
}
.bike__left_text {
  width: 420px;
}
.bike__left_text:nth-of-type(1) {
  margin-bottom: 20px;
}
.bike__left_text:nth-of-type(2) {
  margin-bottom: 80px;
}
.bike a.bike__left_order {
  display: inline-block;
  padding: 28px 81px;
  background: #131313;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
  color: #fff;
}
.bike a.bike__left_order:hover {
  background: #ff4040;
  color: #ffffff;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.bike__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 74px;
}
.bike__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bike__list-item span:nth-child(1) {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.bike__list-item span:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  min-width: 160px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.bike .slider__lines {
  position: absolute;
  top: 30px;
  left: 30px;
}
.bike .slider__lines span {
  height: 2px;
  width: 30px;
  background-color: red;
}

.info {
  margin-bottom: 150px;
}
.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.info__img {
  margin-right: 60px;
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}
.info__list {
  -ms-flex-preferred-size: 490px;
      flex-basis: 490px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.info__list-item:not(:last-child) {
  margin-bottom: 50px;
}
.info__list-item .item-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.info__list-item .item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

.characts {
  margin-bottom: 153px;
}
.characts__header {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #131313;
}
.characts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.characts__items {
  -ms-flex-preferred-size: 570px;
      flex-basis: 570px;
  margin-right: 60px;
}
.characts__list {
  padding-top: 30px;
  -ms-flex-preferred-size: 285px;
      flex-basis: 285px;
}
.characts__list-title {
  padding: 3px;
  margin-bottom: 10px;
  background-color: #131313;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}
.characts__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
}
.characts__name {
  -ms-flex-preferred-size: 285px;
      flex-basis: 285px;
  padding-right: 15px;
}
.characts__descr {
  -ms-flex-preferred-size: 285px;
      flex-basis: 285px;
}
.characts__img {
  -ms-flex-item-align: center;
      align-self: center;
}

/* .characts {
    margin-top: 150px;
    &__header {
        margin-bottom: 40px;

        font-size: 16px;
        line-height: 19px;
        text-transform: uppercase;
    }

    &__wrapper {
        display: flex;
    }

    &__items {
        flex-basis: 570px;
        margin-right: 60px;
    }

    &__list + &__list {
        padding-top: 30px;
    }

    &__list-title {
        padding: 3px 10px;
        margin-bottom: 10px;
        background-color: #131313;

        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
    }

    &__data {
        display: flex;
        padding-top: 5px;
    }

    &__name {
        flex-basis: 285px;
        padding-right: 15px;
    }

    &__descr {
        flex-basis: 285px;
    }

    &__img {
        align-self: center;
    }
} */
.slider {
  margin-top: 50px;
}
.slider__items {
  top: 0;
  left: 0;
}
.slider__item {
  padding-left: 50px;
}